{{- $personalEnv := hasPrefix "bless" .chezmoi.username -}}
{{- $workEnv := hasPrefix "abl" .chezmoi.username -}}
sourceDir: {{ .chezmoi.sourceDir | quote }}

data:
    name: "Blesswin Samuel"
{{- if $personalEnv }}
    profile: "personal"
    email: "blesswinsamuel@gmail.com"
{{- end }}
{{- if $workEnv }}
    profile: "work"
    email: "{{ .chezmoi.username }}@cisco.com"
{{- end }}
