[user]
	name = Blesswin Samuel
	email = blesswinsamuel@gmail.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[alias]
	ch = checkout
	b = branch
	c = commit
	s = status
	st = stash
	open = !fish -c git-open
[commit]
	gpgsign = true
[include]
    path = ~/.gitconfig.local
