! Theme

#define background_opacity 95

*foreground:   #c5c8c6
*background:   [background_opacity]#1d1f21
*cursorColor:  #c5c8c6

! black
*color0:       #282a2e
*color8:       #373b41

! red
*color1:       #a54242
*color9:       #cc6666

! green
*color2:       #8c9440
*color10:      #b5bd68

! yellow
*color3:       #de935f
*color11:      #f0c674

! blue
*color4:       #5f819d
*color12:      #81a2be

! magenta
*color5:       #85678f
*color13:      #b294bb

! cyan
*color6:       #5e8d87
*color14:      #8abeb7

! white
*color7:       #707880
*color15:      #c5c8c6

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:      #de935f
*color17:      #a3685a
*color18:      #282a2e
*color19:      #373b41
*color20:      #b4b7b4
*color21:      #e0e0e0


! URxvt

URxvt.font: xft:monospace:size=8
URxvt.depth: 32

!
! scrollbar
!
URxvt*scrollBar:          true
URxvt*thickness:          4
URxvt*scrollColor:        #CCCCCC
URxvt*troughColor:        #FF0000
URxvt*scrollBar_floating: true
URxvt*scrollBar_right:    true
URxvt*scrollstyle:        plain
