# Get editor completions based on the config schema
# '' = 'https://starship.rs/config-schema.json'

# https://starship.rs/config/

format = """
$status$time$cmd_duration$jobs$nix_shell$docker_context$package$golang$helm$java$nodejs$python$conda$rust$terraform$kubernetes$aws$gcloud\
$line_break\
$username$hostname$shlvl$directory$git_branch$git_commit$git_state$git_status$hg_branch\
$line_break\
$shell$character"""

[kubernetes]
format = '[\[$symbol$context( \($namespace\))\]]($style) '
style = "cyan"
disabled = false
symbol = "󱃾 "

[golang]
symbol = " "
format = '[\[$symbol$version\]]($style) '
style = "bold cyan"

[python]
symbol = " "
format = '[\[${symbol}${pyenv_prefix}(${version})( \($virtualenv\))\]]($style) '
# style = "bold yellow"

[conda]
symbol = " "
format = '[\[$symbol$environment\]]($style) '
style = "bold green"

[docker_context]
symbol = " "
format = '[\[$symbol$context\]]($style) '
# style = "blue bold"

[nodejs]
symbol = " "
format = '[\[$symbol$version\]]($style) '
# style = "bold green"

[terraform]
symbol = "󱁢 "
format = '[\[$symbol$workspace\]]($style) '
# style = "blue bold"

[rust]
symbol = "󱘗 "
format = '[\[$symbol$version\]]($style) '
# style = "bold red"

[aws]
format = '[\[$symbol( [$profile](white))( $region)\]]($style) '
# style = "bold yellow"
symbol = " "

[nix_shell]
symbol = "  "
format = '[\[$symbol$state( \($name\))\]]($style) '

[time]
disabled = false
format = '[$time]($style) '
time_format = "%d-%m-%y %H:%M:%S"
style = "green"

[git_branch]
symbol = " "
format = '([\($symbol$branch(:$remote_branch)\)]($style) )'
style = "bold green"

[git_commit]
tag_symbol = '  '

[git_status]
format = '([\[$conflicted$deleted$renamed$modified$staged$untracked$ahead_behind\]]($style) )'
conflicted = "#[$count](white) " # ✕ =
ahead = "↑[$count](white)" # ⇡
behind = "↓[$count](white)" # ⇣
diverged = "⇕⇡$ahead_count⇣$behind_count"
untracked = "[…](bold yellow)[$count](white)" # ?
stashed = '[$](bold yellow)[$count](white)'
modified = "[±](bold yellow)[$count](white)" # !
staged = "[+](bold green)[$count](white)" # ●
renamed = "[»](bold blue)[$count](white)"
deleted = "[✕](bold purple)[$count](white)" # ✘
style = "bold red"

[directory]
truncate_to_repo = false
truncation_symbol = ".../"
style = "bold white"
truncation_length = 8

[status]
format = '[\[$symbol $common_meaning$signal_name$maybe_int\]]($style) '
map_symbol = true
disabled = false

[cmd_duration]
min_time = 1
show_milliseconds = true
style = "bold dimmed white"
format = '[\[$duration\]]($style) '
show_notifications = true
min_time_to_notify = 45_000

[package]
format = '[\[$symbol$version\]]($style) '

[username]
style_user = "bold dimmed green"
style_root = "bold red"
format = "[↯](bold yellow) [$user]($style)[@](bold dimmed white)"

[hostname]
format =  "[$hostname]($style) "
trim_at = "."
style = "bold dimmed yellow"
disabled = false
